@import '~@fontsource/lexend';


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  display: flex;
  justify-content:  space-between;
  padding: 1rem 2rem;
  background: #cfd8dc;
}

.nav-bar ul {
  list-style:none;
  display:flex;
}

.nav-bar ul li {
  padding-left: 1rem;
}

.nav-bar a{
  text-decoration: none;
  color: #0d47a1
}

.desktopForm {
  margin-left: 6vw;
  margin-top: 5vh;
}

.mobileForm {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vw;
}

.feedbackForm {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2vw;
}

.description2 {
  padding:0px;
  margin: 0px;
  margin-bottom: 10px;
  color: "red";
  font-family: "Lexend";
  font-weight: lighter;
}

.StartAndEndLocation {
  font-size:x-large;
  font-family: "Lexend";
}

.child1 {
  width: 60%;
  height: 100vh;
  text-align: right;
}

.child2 {
  margin-left: 6vw;
  width: 40%;
  height: 80vh;
  margin-top: 3vh;
  margin-right: 5vw;
}

.child2mobile {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 0vw;
}

.InstructionsTitle {
  color: #F05C2C;
  font-size: 35px;
  font-family: "Lexend";
  margin-top: 0px;
  margin-bottom: 37px;
}

.InstructionsContent {
  color: #4F4F4F;
  font-family: "Lexend";
  font-weight: 300;
}

.ReturnLink {
  color: #F05C2C;
  font-weight: bold;
  text-decoration: none;
}

.NotFoundPage {
  margin-left: 100px;
  margin-top: 50px;
  font-family: "Lexend";
  font-weight: 300;
}

.red {
  text-decoration: bold;
  color: red;
}

.htmlContent {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
}

.htmlContentMobile {
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  margin-bottom: 0px;
  height: 60vh;
  width: 34vh;
  
}

.pictureparent 
{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 40vh;
  align-items: center;
  width: 40vw;
  justify-content: center;
}

.containerMobile {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 533px;
  align-items: center;
  justify-content:center;
  width: 90vw;
}

.imageColumn {
  grid-column:2;
  padding: 10px;
  
}

.imageCount {
  text-align:center;
  font-family: "Lexend";
  font-weight: lighter;
}

.imageCountMobile {
  text-align: center;
  font-family: "Lexend";
  font-weight: lighter;
}

.htmlData {
  height: 75vh;
  width: 42vh;
}

.htmlContent {
  height: 75vh;
  width: 42vh;
}

.rightArrow {
  justify-self: start;
}

.parametricsDescription{
  text-align:center;
  display: inline;
  font-weight: bold;
  color: #D95228;
  font-family: "Lexend";
}

.parametricsContent{
  text-align:center;
  display: inline;
  font-weight: 400;
  font-family: "Lexend";
  
}

.time-taken{
  display: inline;
}

.MuiAutocomplete-root
{
  font-family: "Lexend";
}

.typeofFeedback
{
  padding:0px;
  margin: 0px;
  margin-bottom: 40px;
  color: "red";
  font-family: "Lexend";
  font-weight: lighter;
}

.bugDetails
{
  font-family: "Lexend";
  margin-bottom: 10px;
}

.blockedNodeLocation
{
  font-family: "Lexend";
  margin-bottom: 10px;
}

.feedbackUserInfo
{
  font-family: "Lexend";
  color: #D95228;
}

.imageContainer
{
  position: relative;
  display: inline-block;
  height: auto;

}

.overlay-button {
  position: absolute;
  height: 8vh;
  width: 8vh;
  bottom: 76vh;
  right: -34vh;
  display: inline-block;
  z-index: 1;
}

.overlay-button-mobile {
  position: absolute;
  height: 8vh;
  width: 8vh;
  bottom: 61vh;
  right: -13.5vh;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 1;
}

.overlay-refresh {
  position: absolute;
  height: 8vh;
  width: 20vh;
  bottom: 75vh;
  right: 22vh;
  display: inline-block
}

.block-logo {
  width: 10vh;
}

.block-logo-mobile {
  width: 8vh;

}

.instruction-img {
  width: 40px;
  margin-bottom: -13px;
}

.Autocomplete-container {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  position: relative; /* Ensure relative positioning for absolute child */
}

.centered-element {
  /* Optional: Adjust width, padding, etc. */
  padding: 5px;

}

.right-element {
  /* Example absolute positioning for right element */
  position: absolute;
  left: calc(50% + 130px); /* Adjust as needed to position to the right */
  /* Optional: Adjust width, padding, etc. */
  padding: 10px;

}

.fileupload-mobile {
  margin-top: -7vh;
}

.pathInstructions {
  text-align:center;
  font-family: "Lexend";
}

.startNotification {
  text-align:center;
  font-family: "Lexend";
  color: #187D36;


}

.destinationNotification {
  text-align:center;
  font-family: "Lexend";
  font-weight: 500;
  font-size:large;
  color: #187D36;
}

.overlay-confirmation-button {
  position: absolute;
  height: 7vh;
  width: 20vh;
  bottom: 75vh;
  right: -22vh;
  display: inline-block
}

.overlay-confirmation-button-mobile {
  position: absolute;
  height: 7vh;
  width: 20vh;
  bottom: 75vh;
  right: -22vh;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.overlay-confirmation-button-mobile {
  position: absolute;
  height: 7vh;
  width: 20vh;
  bottom: 75vh;
  right: -10vh;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.NoMargins {
  margin-top: 0px;
  margin-bottom: 0px;
}

.two-columns-container {
  display: flex; /* Use flexbox */
  align-items: top;
}

.column {
  flex: 1; /* Grow to fill available space equally */
  padding: 2px;
  
}

.distanceIcon {
  width: 4vh;
  margin-bottom: -8px;
  margin-right: 10px
}

.timeIcon {
  width: 4vh;
  margin-bottom: -11px;
  margin-right: 2px
}